html{font-family: "PingHei","Lucida Grande","Lucida Sans Unicode","STHeiti","Helvetica","Arial","Verdana","sans-serif", sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:62.5%;background-color:#f5f5f5;}
html,body{-webkit-user-select:none;user-select:none;}
html,body,div,object,iframe,applet,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,progress{margin:0;padding:0;border:0;vertical-align:baseline;}
a{text-decoration:none;-webkit-touch-callout:none;background-color:transparent;}
li{list-style:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden],template{display:none;}
a:active,a:hover{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
h1{font-size:2em;margin:.67em 0;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;-webkit-touch-callout:none;}
svg:not(:root){overflow:hidden;}
figure{margin:1em 40px;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
pre{overflow:auto;}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}
a,button,input,optgroup,select,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;outline:none;line-height:normal;}
button{overflow:visible;}
button,select{text-transform:none;border:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
legend{border:0;padding:0;}
textarea{overflow:auto;}
optgroup{font-weight:bold;}
table{border-collapse:collapse;border-spacing:0;}
td,th{padding:0;}
img{max-width:100%;vertical-align: middle;}
 // 字体图标 
@font-face {font-family: "iconfont";
	src: url('../iconfont/iconfont.eot?t=1476408252'); /* IE9*/
	src: url('../iconfont/iconfont.eot?t=1476408252#iefix') format('embedded-opentype'), 
	url('../iconfont/iconfont.woff?t=1476408252') format('woff'), 
	url('../iconfont/iconfont.ttf?t=1476408252') format('truetype'), 
	url('../iconfont/iconfont.svg?t=1476408252#iconfont') format('svg'); 
}

.iconfont {
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.icon-jiahao:before { content: "\e63f"; }
.icon-left:before { content: "\e602"; }
.icon-mima:before { content: "\e605"; }
.icon-scan:before { content: "\e600"; }
.icon-shouji:before { content: "\e608"; }
.icon-shoucang:before { content: "\e61a"; }
.icon-xiugai:before { content: "\e60c"; }
.icon-shezhi:before { content: "\e615"; }
.icon-guanbi:before { content: "\e639"; }
.icon-right:before { content: "\e628"; }
.icon-tips2:before { content: "\e633"; }
.icon-dingdan:before { content: "\e616"; }
.icon-life_goods:before { content: "\e642"; }
.icon-list:before { content: "\e607"; }
.icon-home:before { content: "\e609"; }
.icon-fenxiang:before { content: "\e621"; }
.icon-zhifu:before { content: "\e62d"; }
.icon-clothing_goods:before { content: "\e643"; }
.icon-share:before { content: "\e62a"; }
.icon-tuijian:before { content: "\e625"; }
.icon-noshoucang:before { content: "\e631"; }
.icon-jiaru:before { content: "\e624"; }
.icon-dingwei:before { content: "\e63a"; }
.icon-weixin:before { content: "\e680"; }
.icon-qq:before { content: "\e63c"; }
.icon-weixinpengyouquan:before { content: "\e63d"; }
.icon-shanchu:before { content: "\e721"; }
.icon-fenxiang1:before { content: "\e63b"; }
.icon-gouwu:before { content: "\e62b"; }
.icon-daifukuan:before { content: "\e617"; }
.icon-woxihuande:before { content: "\e60a"; }
.icon-icon:before { content: "\e627"; }
.icon-fahuo:before { content: "\e62e"; }
.icon-haiwaizhiyou:before { content: "\e65d"; }
.icon-qq1:before { content: "\e603"; }
.icon-drink_goods:before { content: "\e645"; }
.icon-hongbao:before { content: "\e61c"; }
.icon-wodezuji:before { content: "\e61d"; }
.icon-gouwuche:before { content: "\e60d"; }
.icon-weixinzhifu:before { content: "\e65f"; }
.icon-pingjia:before { content: "\e61f"; }
.icon-gougou:before { content: "\e626"; }
.icon-qietu10:before { content: "\e688"; }
.icon-iconfontunfold:before { content: "\e644"; }
.icon-shaixuan:before { content: "\e637"; }
.icon-dingwei2:before { content: "\e6ac"; }
.icon-shenfen:before { content: "\e6b3"; }
.icon-fankui:before { content: "\e61e"; }
.icon-daipingjia:before { content: "\e618"; }
.icon-weixin1:before { content: "\e604"; }
.icon-icon3-copy:before { content: "\e62f"; }
.icon-faxian:before { content: "\e60e"; }
.icon-wuliu:before { content: "\e635"; }
.icon-health_goods:before { content: "\e646"; }
.icon-food_goods:before { content: "\e647"; }
.icon-face_goods:before { content: "\e648"; }
.icon-xiexianicon:before { content: "\e601"; }
.icon-shouhou:before { content: "\e623"; }
.icon-yanzm:before { content: "\e60b"; }
.icon-search:before { content: "\e60f"; }
.icon-minus-circle:before { content: "\e641"; }
.icon-tuihuanhuo:before { content: "\e619"; }
.icon-service-import-bonded:before { content: "\e62c"; }
.icon-wenti:before { content: "\e630"; }
.icon-xinxi:before { content: "\e606"; }
.icon-daifahuo:before { content: "\e61b"; }
.icon-daishouhuo:before { content: "\e629"; }
.icon-guanyu:before { content: "\e620"; }
.icon-shangxia:before { content: "\e638"; }
.icon-baby_goods:before { content: "\e649"; }
.icon-zhifubaozhifu:before { content: "\e67e"; }
.icon-wuliu1:before { content: "\e683"; }
.icon-kefu:before { content: "\e622"; }
.icon-huiyuanid:before { content: "\e6db"; }
.icon-user:before { content: "\e611"; }
.icon-haiwai:before { content: "\e610"; }
.icon-new:before { content: "\e612"; }
.icon-qianggou:before { content: "\e613"; }
.icon-paihang:before { content: "\e614"; }
.icon-xitongxiaoxi:before { content: "\e640"; }
.icon-resou:before { content: "\e634"; }
.icon-shenfen1:before { content: "\e632"; }
.icon-chengnuo:before { content: "\e636"; }

.clearfix:before,.clearfix:after{display: table;content: '';}
.clearfix:after{clear: both;zoom: 1;}
.fl{float: left;display: inline;}
.fr{float: right;display: inline;}

.mt10{margin-top: 10px;}
.mt45{margin-top: 45px;}
.bt50{margin-bottom: 50px;}
.pt45{padding-top: 45px;}

.nomt{margin: 0!important}

.noborder{border: none !important}

.text-center{text-align: center;}
.text-right{text-align: right;}

.scwrapper{
	max-width: 640px;
	min-width: 320px;
	position: relative;
	margin: 0 auto;
	background: #f3f3f3;
}

 // swipe 
.swiper-container{
	position: relative;
}
.swiper-wrapper{
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 1;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-transition-property: -webkit-transform;
		-moz-transition-property: -moz-transform;
		-o-transition-property: -o-transform;
		-ms-transition-property: -ms-transform;
		transition-property: transform;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	.swiper-slide{
		-webkit-flex-shrink: 0;
			-ms-flex: 0 0 auto;
			flex-shrink: 0;
			width: 100%;
			height: 100%;
			position: relative;
	}
}

 // 头部 
.m-header{
	height: 44px;
	.header{
		box-sizing: border-box;
		height: 44px;
		padding: 6px 0;
		padding-left: 77px;
		padding-right: 44px;
		background: #fff;
		border-bottom: 1px solid #ececec;
		position: relative;
	}
	.header-fixed{
		width: 100%;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 100;
		background: #fff;
	}
	.header-logo{
		width: 65px;
		height: 44px;
		overflow: hidden;
		position: absolute;
		left: 10px;
		top: 0;
	}
	.search-box{
		display: block;
		width: 100%;
		height: 32px;
		border-radius: 5px;
		border:none;
		outline: none;
		background: #eaebed;
		line-height: 32px;
		font-size: 13px;
		color: #ccc;
		.iconfont{
			float: left;
			margin: 0 10px;
			line-height: 32px;
			font-size: 20px;
			color: #ccc;
		}
	}
	.left-box{
		width: 30px;
		height: 44px;
		position: absolute;
		right: 10px;
		top: 0;
		text-align: center;
		font-size: 20px;
		color: #999;
		line-height: 44px;
		.state{
			width: 5px;
			height: 5px;
			position: absolute;
			top: 7px;
			right: 5px;
			border-radius: 50%;
			background: #f15353;
		}
	}
}

 // 底部 
.m-footer{
	height: 48px;
	.footer-nav{
		border-top: 1px solid #ececec;
		width: 100%;
		height: 48px;
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 100;
		background: #fff;
	}
	.item{
		width: 20%;
		height: 48px;
		float: left;
		&.active{
			.iconfont,
			.title{
				color: #4f4697;
			}
		}
		.iconfont{
			display: block;
			width: 20px;
			height: 20px;
			margin: 0 auto;
			margin-top: 6px;
			font-size: 20px;
			color: #8d8d8d;
		}
		.title{
			font-size: 10px;
			text-align: center;
			line-height: 22px;
			color: #666;
		}
	}
}

 // u-header 用户页面顶部
.u-header{
	height: 46px;
	.header{
		width: 100%;
		height: 45px;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 100;
		border-bottom: 1px solid #ececec;
		background: #fff;
		.header-left,
		.header-right{
			width: 45px;
			height: 45px;
			position: absolute;
			top: 0;
			text-align: center;
			line-height: 45px;
			font-size: 15px;
			color: #666;
			.iconfont{
				font-size: 20px;
				color: #272636;
			}
		}
		.header-left{
			left: 0
		}
		.header-right{
			right: 0;
		}
		.header-title{
			height: 45px;
			margin: 0 45px;
			text-align: center;
			line-height: 45px;
			font-size: 18px;
			color: #000;
		}
		.p-search{
			display: block;
			box-sizing: border-box;
			width: 100%;
			height: 45px;
			padding-left: 40px;
			padding-right: 12px;
			position: absolute;
			left: 0;
			top: 0;
			text-align: left;
			line-height: 45px;
			.search-container{
				height: 30px;
				margin-top: 8px;
				padding:0 5px;
				border-radius: 6px;
				line-height: 30px;
				background: #f7f7f7;
			}
			.icon-search{
				font-size: 16px;
				color: #a4a3a3;
			}
			.search-title{
				font-size: 13px;
				color: #333;
			}
			.search-num{
				position: absolute;
				top: 8px;
				right: 17px;
				font-size: 12px;
				color: #666;
				line-height: 30px;

			}
		}
	}
}
// 加载样式
.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    /* 开启硬件加速 */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}
.dropload-down{
    height: 50px;
}
.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.dropload-load .loading{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


// 组件样式  
// 弹窗
.ui-dialog {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: rgba(0, 0, 0, 0.4);
  display: none; }

.ui-dialog.show {
  display: -webkit-box;
  display: box; }

.ui-dialog-hd {
  height: 48px;
  line-height: 48px;
  text-align: center;
  position: relative; }

.ui-dialog-cnt {
  border-radius: 6px;
  width: 270px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  pointer-events: auto;
  background-color: rgba(253, 253, 253, 0.95);
  position: relative;
  font-size: 16px; }

.ui-dialog-bd {
  min-height: 71px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 18px;
  display: -webkit-box;
  display: box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical; }

.ui-dialog-bd > h4 {
  margin-bottom: 4px;
  width: 100%;
  text-align: center; }

.ui-dialog-bd > div, .ui-dialog-bd > ul {
  width: 100%; }

.ui-dialog-ft {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: -webkit-box;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-align: center;
  border-top: 1px solid #e0e0e0;
  height: 42px;
  line-height: 42px; }

.ui-dialog-close:before {
  font-family: "iconfont" !important;
  font-size: 32px;
  line-height: 44px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  content: "";
  color: #828282;
  display: block;
  line-height: 32px;
  position: absolute;
  top: 3px;
  right: 3px; }

.ui-dialog-close:active {
  opacity: 0.5; }

.ui-dialog-ft button {
  color: #00a5e0;
  text-align: center;
  border-right: 1px #e0e0e0 solid;
  width: 100%;
  line-height: 42px;
  background: transparent;
  display: block;
  margin: 0 !important;
  -webkit-box-flex: 1; }
  .ui-dialog-ft button:active {
    background-color: rgba(0, 0, 0, 0.1) !important; }
  .ui-dialog-ft button:first-child {
    border-bottom-left-radius: 6px; }
  .ui-dialog-ft button:last-child {
    border-right: 0;
    border-bottom-right-radius: 6px; }

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .ui-dialog-ft {
    position: relative;
    border: 0;
    background-position: left top;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #e0e0e0), to(#e0e0e0));
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px; }

  .ui-dialog-ft button {
    border-right: 0;
    background-position: right top;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, transparent), color-stop(0.5, #e0e0e0), to(#e0e0e0));
    background-repeat: repeat-y;
    -webkit-background-size: 1px 100%; }
    .ui-dialog-ft button:last-child {
      background: none; } }
加载
.ui-loading-wrap {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
  height: 40px; }

.ui-loading {
  width: 20px;
  height: 20px;
  display: block;
  background: url(../images/loading_sprite.png);
  -webkit-background-size: auto 20px;
  -webkit-animation: am-rotate 1s steps(12) infinite; }

.ui-loading-bright {
  width: 37px;
  height: 37px;
  display: block;
  background-image: url(../images/loading_sprite_white.png);
  -webkit-background-size: auto 37px;
  -webkit-animation: am-rotate2 1s steps(12) infinite; }

.ui-loading-wrap .ui-loading {
  margin: 10px; }

.ui-loading-block {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  background: transparent; }
  .ui-loading-block .ui-loading-cnt {
    width: 130px;
    height: 110px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 6px;
    color: #fff;
    font-size: 16px; }
  .ui-loading-block .ui-loading-bright {
    margin: 18px 0 8px; }

.ui-loading-block.show {
  display: -webkit-box;
  display: box; }

@-webkit-keyframes am-rotate {
  from {
    background-position: 0 0; }
  to {
    background-position: -240px 0; } }
@-webkit-keyframes am-rotate2 {
  from {
    background-position: 0 0; }
  to {
    background-position: -444px 0; } }
.ui-loading-block{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	background: rgba(0, 0, 0, 0.4);
	display: none;
	background: transparent; 
}
//提示 
.ui-poptips{
	width: 100%;
    position: fixed;
    bottom: 70px;
    left: 0;
    z-index: 99;
    text-align: center;
    &.ui-poptips-success{
    	>i{
    	content: ""
    	}
    }
    .ui-poptips-cnt{
    	display: inline-block;
    	padding: 0 12px;
    	border-radius: 5px;
    	background: #4f4697;
    	background: rgba(0, 0, 0, 0.8);
	    line-height: 30px;
	    height: 30px;
	    color: #fff;
	    font-size: 12px;
	    text-align: center;
	    overflow: hidden;
    }
}