 // slide 
.m-slide{
    overflow: hidden;
    .swiper-pagination {
         position: absolute;
          right: 10px;
          bottom: 10px;
          text-align: center;
          -webkit-transition: 300ms;
          -moz-transition: 300ms;
          -o-transition: 300ms;
          transition: 300ms;
          -webkit-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          z-index: 10;
        .swiper-pagination-bullet {
            width: 10px;
            height: 2px;
            margin: 0 6px;
            display: inline-block;
            background: #fff;
            opacity: .4;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
        }
    }
}


 // 主菜单 
.m-main-menu{
    padding: 15px 10px;
    background: #fff;
    .menu-term{
        width: 25%;
        float: left;
    }
    .menu-icon{
        width: 40px;
        height: 40px;
        margin: 0 auto;
        line-height: 40px;
        font-size: 40px;
        &.icon-qianggou{color: #ffaa00;}
        &.icon-paihang{color: #00b6aa;}
        &.icon-new{color: #7dcf13;}
        &.icon-haiwai{color: #6a5be2;}
    }
    .menu-name{
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 10px;
        color: #8d8d8d;
    }
}

 // 限时抢购 
.m-seckill{
    background: #fff;
    .seckill-title-wrape{
        height: 40px;
        padding: 0 10px;
        border-bottom: 1px solid #ececec;
        .title,
        .rule{
            display: block;
            height: 40px;
            line-height: 40px;
            float: left;
        }
        .title{
            font-size: 16px;
            font-weight: bold;
            color: #4f4697;
        }
        .rule{
            margin-left: 5px;
            font-size: 10px;
            color: #666666;
        }
        .time-term{
            height: 40px;
            margin: 0 1px;
            float: left;
            line-height: 40px;
            font-size: 12px;
            color: #000;
            &.time-title{
                margin-right: 8px;
            }
            &.time-number{
                font-weight: bold;
            }
        }
    }
}

 // 商品左右拖动块 
.panic-buying{
    overflow: hidden;
    .panic-buying-term{
        width: 110px;
        height: 175px;
        float: left;
    }
    .panic-buying-img{
        display: flex; 
        box-align:center;  
        width: 110px;
        height: 110px;
        overflow: hidden;
    }
    .panic-buying-title{
        height: 35px;
        padding: 0 5px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        line-height: 17px;
        color: #333;
        font-size: 10px;
    }
    .panic-buying-Price{
        height: 20px;
        line-height: 20px;
        text-align: center;
        .original-price{
            font-size: 15px;
            color: #ff494b;
        }
        .favorable-price{
            font-size: 10px;
            color: #999999;
            text-decoration: line-through;
        }
    }
}

 // 专区 
.m-area{
    background: #fff;
    .area-title-wrape{
        padding: 0 10px;
        .area-title{
            height: 40px;
            position: relative;
            &:before,
            &:after{
                position: absolute;
                left: 0;
                content: "";
                width: 100%;
                border-bottom: 1px solid #a9a9a9;
            }
            &:before{
                top: 20px;
                
            }
            &:after{
                top: 23px;
            }
        }
        .area-text{
            width: 180px;
            height: 40px;
            position: relative;
            left: 50%;
            margin-left: -90px;
            z-index: 10;
            background: #fff;
        }
    }
}

 // 猜你喜欢 
.m-recommend{
    background: #fff;
    .recommend-title-wrape{
        padding: 8px 0;
        background: #f3f3f3;
        text-align: center;
        .recommend-title{
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            color: #000;
            >.iconfont{
                margin-right: 2px;
                font-size: 12px;
                color: #4f4697;
            }
        }
        .recommend-describe{
            height: 10px;
            line-height: 10px;
            font-size: 8px;
            color: #999;
        }
    }
    .like-terms{
        padding: 0 10px;
        background: #fff;
        &:last-child .like-box{
            border-bottom: 0;
        }
    }
    .like-box{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 130px;
        border-bottom: 1px dotted #dedede;
        box-sizing: border-box;
    }
    .like-img{
        display: block;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 115px;
        height: 129px;
        overflow: hidden;
    }
    .like-info{
        display: block;
        box-sizing: border-box;
        padding: 10px 15px;
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        height: 129px;
        overflow: hidden;
        .title{
            height: 35px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            line-height: 17px;
            font-size: 12px;
            color: #333;
        }
        .address{
            height: 40px;
            line-height: 40px;
            font-size: 12px;
            color: #4f4697;
            >img{
                width: 18px;
                height: 18px;
                margin-right: 10px;
            }
        }
        .price{
            height: 20px;
            margin-top: 10px;
            line-height: 20px;
            .original-price{
                font-size: 15px;
                color: #ff494b;
            }
            .favorable-price{
                margin-left: 10px;
                font-size: 9px;
                color: #999;
                text-decoration: line-through;
            }
        }
        .purchase{
            width: 30px;
            height: 30px;
            position: absolute;
            right: 20px;
            bottom: 13px;
            background: #4f4697;
            border-radius: 50%;
            font-size: 10px;
            text-align: center;
            color: #fff;
            line-height: 30px;
        }
    }
}




