// product-slider
.product-slider{
    overflow: hidden;
    background: #fff;
    .swiper-pagination{
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        -webkit-transition: 300ms;
        -moz-transition: 300ms;
        -o-transition: 300ms;
        transition: 300ms;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        z-index: 10;
        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            margin: 0 5px;
            display: inline-block;
            border-radius: 50%;
            background: #a7a2cb;
        }
        .swiper-pagination-bullet-active {
            background: #4f4697;
        }
    }
    .swiper-slide{
        background: #fff;
        .iamge-box{
            width: 320px;
            height: 320px;
            margin: 0 auto;
            text-align: center;
        }
    }
}
// 商品信息
.product-infor{
    dd{
        padding: 0 12px;
        background: #fff;
    }
    .countdown-time{
        height: 40px;
        padding: 0 12px;
        background: #e73736;
        line-height: 40px;
        color: #fff;
        .title{
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            float: left;
        }
        .end-time{
            margin-left: 15px;
            float: left;
            font-size: 12px;
            color: #fff;
        }
    }
    .producer{
        height: 30px;
        padding: 0 12px;
        line-height: 30px;
        color: #4d4399;
        font-size: 12px;
        >img{
            height: 15px;
            width: 15px;
            margin-right: 5px;
        }
    }
    .name{
        padding: 0 12px;
        line-height: 18px;
        color: #000;
        font-size: 14px;
        // text-indent: 1em;
    }
    .tile{
        padding: 0 12px;
        padding-top: 5px;
        line-height: 15px;
        color: #999;
        font-size: 12px;
    }
    .rmb{
        position: relative;
        padding: 0 12px;
        border-bottom: 1px solid #ececec;
        line-height: 30px;
        .used,
        .now{
            color: #ff494b;
            font-size: 15px;
            font-style: normal;
            >span{
                font-size: 20px;
            }
        }
        .used{
            margin-left: 12px;
            text-decoration: line-through;
            color: #999;
        }
    }
    .tb-item{
        display: block;
        margin-bottom: 10px;
        line-height: 40px;
        font-size: 12px;
        color: #000;
        .iconfont{
            font-size: 14px;
            color: #999;
        }
    }   
}
// 商品评价
.product-evaluate{
    .evaluate-infor{
        padding: 0 12px;
        background: #fff;
        border-bottom: 1px solid #ececec;
        .left,
        .right{
            line-height: 40px;
            font-size: 12px;
        }
        .left{
            float: left;
            color: #000;
            >span{
                color: #999;
            }
        }
        .right{
            float: right;
            color: #e73736;
            .iconfont{
                font-size: 14px;
                color: #999;
            }
        }
    }
    .evaluate-list{
        background-repeat: #fff;
        .item{
            padding: 10px 12px;
            overflow: hidden;
            background: #fff;
            border-bottom: 1px solid #ececec;
        }
        .photo-name{
            height: 35px;
            overflow: hidden;
            float: left;
        }
        .time{
            height: 35px;
            float: right;
            line-height: 30px;
            color: #999;
            font-size: 11px;
        }
        .photo{
            width: 35px;
            height: 35px;
            float: left;
            margin-right: 12px;
            border-radius: 50%;
            background-image: url(../images/photo-icon.jpg);
            background-position: center top;
            background-size: 35px 35px;
            background-repeat: no-repeat;
        }
        .name-rate{
            height: 35px;
            overflow: hidden;
            float: left;
            .name{
                height: 20px;
                line-height: 20px;
                font-size: 11px;
                color: #999;
            }
            .rate{
                height: 15px;
                line-height: 15px;
            }
            .iconfont{
                font-size: 10px;
                color: #e73736;
            }
        }
        .evaluate{
            padding-left: 47px;
            .text{
                height: 36px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                word-break: break-word;
                font-size: 13px;
                color: #666;
                line-height: 18px;
            }
            .packing{
                font-size: 11px;
                color: #999;
                line-height: 18px;
            }
        }
        .img-iten{
            width: 64px;
            height: 64px;
            margin-right: 6px;
            margin-top: 6px;
            float: left;
            border: 1px solid #ececec;
        }
    }
    .more-evaluate{
        background: #fff;
        line-height: 40px;
        text-align: center;
        font-size: 13px;
        >a{
            color: #000;
        }
    }
}

// actionbar-container
.actionbar-container{
    height: 50px;
    background: #fff;
    .action-bar{
        width: 100%;
        height: 50px;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 100;
        background: #fff;
    }
    .options-group{
        box-sizing: border-box;
        width: 50%;
        float: left;
        border-top: 1px solid #ececec;
        .item{
            display: block;
            box-sizing: border-box;
            width: 33.3333%;
            height: 50px;
            position: relative;
            float: left;
            border-right: 1px solid #ececec;
            font-size: 10px;
            color: #999;
            text-align: center;
            &:last-child{
                border-right: none;
            }
            >a{
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
            &:before{
                display: block;
                width: 17px;
                height: 17px;
                margin: 0 auto;
                margin-top: 8px;
                margin-bottom: 5px;
                font-size: 17px;
                color: #999;
            }
        }
    }
    .btn-grounp{
        width: 50%;
        float: left;
        .btn{
            display: block;
            width: 50%;
            height: 50px;
            float: left;
            line-height: 50px;
            font-size: 15px;
            color: #fff;
            text-align: center;
            &.add-keep{
                background: #ffc001;
            }
            &.purchase{
                background: #4f4697;
            }
        }
    }
}
// 订单物流
.order-details-container{
    .logistics-infor{
        padding: 10px 12px; 
        background: #fff;
        >p{
            height: 20px;
            line-height: 20px;
            color: #000;
            font-size: 13px;
            .dif-name{
                color: #666;
            }
        }
    }
    .log-specific{
        margin-top: 10px;
        .item{
            overflow: hidden;
            position: relative;
            background: #fff;
            padding-left: 45px;
            padding-right: 12px;
            &:before{
                content: "";
                position: absolute;
                left: 20px;
                top: 0;
                height: 100%;
                border-left: 1px solid #d8d8d8;
            }
            &:after{
                content: "";
                position: absolute;
                left: 15px;
                top: 12px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #d8d8d8;
                border-left: 1px solid #d8d8d8;
            }
            &:first-child{
                &:before{
                    top: 15px;
                }
            }
            &:last-child{
                &:before{
                    top: 0;
                    height: 20px;
                }
            }
            &.active{
                .text{
                    color: #000;
                    &:before{
                        box-sizing: border-box;
                        content: "";
                        position: absolute;
                        top: 10px;
                        left: 13px;
                        width: 15px;
                        height: 15px;
                        z-index: 20;
                        border-radius: 50%;
                        background: #4f4697;
                        border: 2px solid #a7a2cb;
                    }
                }
            }
        }
        .infor{
            padding: 8px 0;
            padding-right: 15px;
            border-bottom: 1px solid #ececec;
        }
        .text{
            line-height: 18px;
            color: #999;
            font-size: 13px;

        }
        .time{
            margin-top: 3px;
            line-height: 16px;
            color: #999;
            font-size: 12px;

        }
    }
    .customer-service{
        margin-top: 10px;
        padding: 8px 12px;
        background: #fff;
        >a{
            display: block;
            height: 30px;
            line-height: 30px;
        }
        .kefy,
        .text{
            margin-left: 5px;
            color: #666;
            font-size: 12px;
            line-height: 32px;
        }
        .iconfont{
            float: right;
            color: #999;
            font-size: 16px;
        }
        img{
            width: 30px;
            height: 30px;
        }
    }
}
// 订单详情
.order-notshipped-container{
    .flow-chart{
        height: 95px;
        padding: 20px 0;
        background-image: url(../images/user-infor.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% 135px;
        background-color: #465198; 
    }
    .flow-chart-list{
        display: block;
        width: 300px;
        margin: 0 auto;
        .item{
            float: left;
            margin-left: 33px;
            position: relative;
            &:first-child{
                margin-left: 0;
                .circular:line{
                    display: none;
                }
            }
            &.active{
                .circular,
                .line{
                    border-color: #ffda44;
                    color: #ffda44;
                }
            }
            >p{
                width: 33px;
                white-space: nowrap;
                overflow: hidden;
                line-height: 20px;
                text-align: center;
                color: #fff;
                font-size: 10px;
            }
        }
        .circular{
            width: 33px;
            height: 33px;
            box-sizing: border-box;
            border-radius: 50%;
            position: relative;
            z-index: 20;
            border: 3px solid #bdbdbd;
            line-height: 30px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: #bdbdbd;
        }
        .line{
            display: block;
            width: 36px;
            height: 0;
            position: absolute;
            z-index: 1;
            left: -33px;
            bottom: 15px;
            border-top: 3px solid #bdbdbd;
        }
        .flow-text{
            margin-top: 15px;
            line-height: 28px;
            color: #fff;
            font-size: 16px;
        }
    }
    .flow-service{
        margin-top: 10px;
        .box{
            display: block;
            background: #fff;
        }
        .box-btn{
            padding:  8px 12px;
            background: #fff;
            border-bottom: 1px solid #ececec;
            line-height: 30px;
            color: #666;
            font-size: 14px;
            .img{
                float: left;
                width: 30px;
                height: 30px;

            }
            .name{
                margin-left: 5px;
                float: left;
                color: #666;
                height: 30px;
                line-height: 30px;
            }
            .icon-right{
                margin-left: 5px;
                line-height: 28px;
                float: right;
                font-size: 16px;
                color: #999;
            }
            .icon-shenfen,
            .icon-wuliu{
                line-height: 32px;
                float: left;
                font-size: 22px;
                color: #666;
            }
            .work{
                height: 30px;
                line-height: 30px;
                float: right;
                color: #999;
            }
        }
        .wuliu{
            padding-right: 12px;
            padding-left: 38px;
            position: relative;
            overflow: hidden;
            margin-top: -5px;
            background: #fff;
            &:before{
                content: "";
                display: block;
                box-sizing: border-box;
                width: 13px;
                height: 13px;
                position: absolute;
                left: 17px;
                top: 5px;
                z-index: 10;
                border-radius: 50%;
                background: #4f4697;
                border: 2px solid #a7a2cb;
            }
            &:after{
                content: "";
                display: block;
                width: 1px;
                height: 100%;
                position: absolute;
                left: 23px;
                top: 10px;
                background: #d8d8d8;
            }
            >p{
                line-height: 20px;
                color: #999;
                font-size: 13px;
            }
            >span{
                line-height: 20px;
                color: #999;
                font-size: 12px;
            }
        }
    }
    .order-details{
        margin-top: 10px;
        background: #fff;
        .goods{
            padding: 0 12px;
        }
    }
    .goods-details{
        display: block;
        box-sizing: border-box;
        height: 87px;
        padding: 6px 0;
        padding-left: 90px;
        padding-right: 70px;
        position: relative;
        border-bottom: 1px dashed #ececec;
        .img{
            position: absolute;
            left: 0;
            top: 6px;
            width: 73px;
            height: 73px;
            border: 1px solid #ececec;
        }
        .infor{
            padding: 8px 0;
        }
        .goods-name{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-break: break-word;
            line-height: 18px;
            font-size: 12px;
            color: #000;
        }
        .sizes{
            height: 24px;
            line-height: 24px;
            color: #999;
            font-size: 11px;
        }
        .rmb{
            position: absolute;
            right: 0;
            top: 13px;
        }
        .now{
            line-height: 15px;
            font-size: 11px;
            color: #ff494b;
        }
        .original{
            line-height: 15px;
            font-size: 11px;
            color: #999;            
        }
    }
    .price-reckon{
        padding: 5px 12px;
        border-bottom: 1px solid #ececec;
        .item{
            display: flex;
            width: 100%;
            .name{
                flex: 1;
                flex-basis: 0;
                max-width: 80px;
                line-height: 20px;
                font-size: 13px;
                color: #666;
                &.paid-name{
                    margin-top: 3px;
                    color: #000;
                }
            }
            .text,
            .number{
                flex-basis: 0;
                flex: 1;
                line-height: 20px;
                font-size: 13px;
                color: #999;
            }
            .number{
                text-align: right;
                &.paid{
                    margin-top: 3px;
                    color: #ff494b;
                    font-size: 20px;
                    >span{
                        font-size: 16px;
                    }
                }
            }
        }
        &.details{
            .name,
            .text{
                margin: 3px 0;
                color: #999;
            }
        }
    }
    .flow-btns{
        height: 50px;
        margin-top: 10px;
        padding: 0 12px;
        overflow: hidden;
        border-top: 1px solid #ececec;
        background: #fff;
        .btn{
            width: 75px;
            height: 25px;
            float: right;
            margin: 12px 0;
            margin-left: 8px;
            border-radius: 4px;
            line-height: 25px;
            text-align: center;
            font-size: 12px;
            &.redbtn{
                border: 1px solid #ff494b;
                color: #ff494b;
            }
            &.graybtn{
                border: 1px solid #666;
                color: #666;
            }
        }
    }
}
// 确认订单
.confirm-order-container{
    .receipt-address,
    .receipt-address-no{
        background: #fff;
        position: relative;
        line-height: 60px;
        font-size: 14px;
        color: #000;
        &:after{
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            background-image: url(../images/border-icon.png);
            background-size: 31px 2px;
            background-position: left top;
        }
        >.icon-dingwei2{
            margin-left: 12px;
            margin-right: 5px;
            font-size: 20px;
            color: #315baf;
        }
        .name-tel{
            padding-top: 4px;
            padding-left: 37px;
            padding-right: 60px;
            line-height: 26px;
            color: #000;
            font-size: 14px;
        }
        .address{
            padding-bottom: 8px;
            padding-left: 37px;
            padding-right: 60px;
            font-size: 13px;
            color: #999;
            line-height: 16px;
        }
        .icon-right{
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            right: 12px;
            top: 50%;
            margin-top: -8px;
            color: #999;
            line-height: 16px;
            font-size: 16px;
        }
    }
    .goods-item{
        margin-top: 10px;
        background: #fff;
        .title-container{
            height: 44px;
            line-height: 44px;
            font-size: 13px;
            color: #000;
            background: #fff; 
            border-bottom: 1px solid #ececec;
            >.label{
                margin-left: 12px;
                padding: 2px 5px;
                border-radius: 3px;
                font-size: 12px;
                color: #fff; 
            }
            >.violet{
                background: #774acd;
            }
            >.blue{
                background: #598bfe;
            }
        }
        .goods-box{
            padding: 0 12px;
        }
        .infor{
            display: flex;
            background: #fff;
            border-bottom: 1px solid #ececec;
        }
        .img{
            flex: 1;
            max-width: 100px;
            height: 100px;
            box-sizing: border-box;
        }
        .dts{
            flex: 1;
            height: 100px;
            margin-left: 10px;
            position: relative;
        }
        .name{
            margin-top: 5px;
            line-height: 14px;
            font-size: 12px;
            color: #000;
        }
        .rule{
            line-height: 18px;
            color: #999;
            font-size: 11px;
        }
        .price{
            width: 100%;
            height: 20px;
            position: absolute;
            bottom: 5px;
            left: 0;
            line-height: 20px;
        }
        .price-now{
            font-size: 15px;
            color: #ff494b;
            >em{
                font-style: normal;
                font-size: 12px;
            }
        }
        .price-original{
            margin-left: 5px;
            font-size: 10px;
            color: #999;
            text-decoration: line-through;
        }
        .goods-num{
            float: right;
            font-size: 13px;
            color: #666;
        }
        // 价格计算
        .cost{
            padding: 0 12px;
            background: #fff;
        }
        .item{
            display: block;
            height: 45px;
            line-height: 45px;
            border-top: 1px solid #ececec;
            &:first-child{
                border-top: none;
            }
            .item-key{
                float: left;
                font-size: 14px;
                color: #666;
            }
            .item-value{
                float: right;
                font-size: 13px;
                color: #666;
            }
            .iconfont{
                font-size: 14px;
                color: #999;
            }
        }
    }
    .confirm-order-operation{
        height: 50px;
        .confirm-order{
            display: flex;
            width: 100%;
            height: 50px;
            position: fixed;
            left: 0;
            bottom: 0;
            background: #fff;
        }
        .total{
            flex: 1;
            height: 50px;
            padding-right: 12px;
            border-top: 1px solid #ececec;
            line-height: 50px;
            text-align: right;
            font-size: 15px;
            color: #666;
            >em{
                font-style: normal;
                font-size: 12px;
                color: #ff494b;
            }
            >span{
                font-size: 15px;
                color: #ff494b;
            }
        }
        .order-submit{
            flex: 1;
            max-width: 120px;
            height: 50px;
            background: #4f4697;
            font-size: 15px;
            color: #fff;
            text-align: center;
            line-height: 50px;
        }
    }
}

