html{background: #fff;}
 // 搜索栏 
.search-container{
    box-sizing: border-box;
    height: 46px;
    padding: 0 12px;
    .search-box{
        box-sizing: border-box;
        width: 100%;
        height: 46px;
        position: relative;
        padding: 8px 0;
        padding-right: 40px;
        .inp{
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 30px;
            padding: 5px 0;
            padding-left: 30px;
            border: none;
            outline: none;
            background: #f7f7f7;
            border-radius: 5px;
            font-size: 13px;
            color: #333;
        }
        .cancel{
            width: 40px;
            height: 46px;
            position: absolute;
            right: 0;
            top: 0;
            line-height: 46px;
            color: #666;
            text-align: right;
            font-size: 15px;
        }
        .icon-search{
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            left: 0;
            top: 8px;
            line-height: 30px;
            font-size: 18px;
            color: #858499;
            text-align: center;
        }
    }
    .title-box{
        height: 35px;
        line-height: 35px;
        >span{
            float: left;
            color: #000;
            font-size: 14px;
        }
        >.iconfont{
            float: right;
            font-size: 16px;
            color: #666;
        }
    }
    .record-list{
        padding: 0 4px;
        li{
            padding: 6px;
            float: left;
            margin-right: 6px;
            margin-bottom: 6px;
            border-radius: 5px;
            border: 1px solid #e0e0e0;
            >a{
                color: #666;
                font-size: 12px;
                text-align: center;
            }
        }
    }
    .hot-title{
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        color: #000;
        .iconfont{
            margin-right: 5px;
            font-size: 16px;
            color: #f26d5f;
        }
    }
}