.cart-terms {
  margin-top: 10px;
  background: #fff;
}

.cart-terms:first-child {
  margin-top: 0;
}

.cart-terms .title-container {
  height: 44px;
  line-height: 44px;
  font-size: 13px;
  color: #000;
  background: #fff;
  border-bottom: 1px solid #ececec;
}

.cart-terms .title-container > .label {
  margin-left: 12px;
  padding: 2px 5px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 12px;
  color: #fff;
}

.cart-terms .title-container > .violet {
  background: #774acd;
}

.cart-terms .title-container > .blue {
  background: #598bfe;
}

.cart-product-checkbox {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -9px;
}

.cart-product-checkbox input[type=checkbox] {
  visibility: hidden;
}

.cart-product-checkbox input[type=checkbox]:checked + label:after {
  border-color: #fff;
  opacity: 1;
}

.cart-product-checkbox input[type=checkbox]:checked + label {
  background: #4e4598;
}

.cart-product-checkbox label {
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background: #fff;
  border: 1px solid #e7e7e7;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.cart-product-checkbox label:after {
  opacity: 1;
  content: '';
  position: absolute;
  width: 6px;
  height: 3px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.cart-product-checkbox label:hover::after {
  opacity: 1;
}

.empty-public {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 140px;
  padding-top: 25px;
  background: #fff;
  text-align: center;
}

.empty-public .iconfont {
  font-size: 45px;
  color: #e7e7e7;
}

.empty-public > p {
  font-size: 12px;
  color: #666;
  line-height: 17px;
}

.cart-product-cell {
  padding: 0 10px;
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}

.cart-product-cell .cart-product-img {
  position: absolute;
  left: 30px;
  top: 0;
}

.cart-product-cell .cart-product-img > img {
  width: 110px;
  height: 110px;
}

.cart-product-cell .cart-product-describe {
  height: 110px;
  padding-left: 140px;
}

.cart-product-cell .cart-product-describe .cart-product-name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding-top: 10px;
  padding-right: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  line-height: 17px;
  color: #333;
  font-size: 11px;
}

.cart-product-cell .cart-product-prop {
  display: inline-block;
  height: 20px;
  padding: 0 2px;
  background: #f0f2f5;
  color: #999999;
  line-height: 20px;
  font-size: 11px;
}

.cart-product-cell .cart-product-Price {
  margin-top: 5px;
}

.cart-product-cell .cart-product-Price .favorable-Price {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #ff494b;
}

.cart-product-cell .cart-product-Price .original-price {
  display: block;
  line-height: 16px;
  font-size: 10px;
  color: #999999;
}

.cart-product-cell .cart-product-Price .cart-product-number {
  height: 24px;
  margin-top: 5px;
  margin-right: 3px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #ececec;
  font-size: 12px;
  color: #666;
}

.cart-product-cell .cart-product-Price .cart-product-number .quantity {
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 30px;
  vertical-align: top;
  font-size: 15px;
  color: #232326;
}

.cart-product-cell .cart-product-Price .cart-product-number .quantity-decrease,
.cart-product-cell .cart-product-Price .cart-product-number .quantity-increase {
  display: inline-block;
  width: 25px;
  height: 24px;
  background-image: url(../images/symbol-icon.png);
  background-repeat: no-repeat;
  background-size: 37px 30px;
}

.cart-product-cell .cart-product-Price .cart-product-number .quantity-decrease {
  border-right: 1px solid #ececec;
  background-position: 6px -13px;
}

.cart-product-cell .cart-product-Price .cart-product-number .quantity-increase {
  border-left: 1px solid #ececec;
  background-position: 6px 6px;
}

.m-recommend {
  background: #f3f3f3;
}

.m-recommend .recommend-wrape {
  padding: 5px 0;
  text-align: center;
}

.m-recommend .recommend-wrape .t-text {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #000;
  text-align: center;
}

.m-recommend .recommend-wrape .t-text .iconfont {
  font-size: 15px;
  color: #4d4398;
}

.m-recommend .recommend-wrape .t-text .text {
  font-size: 12px;
  color: #000;
}

.m-recommend .recommend-wrape .describe {
  height: 10px;
  line-height: 10px;
  text-align: center;
  font-size: 8px;
  color: #999;
}

.m-recommend .shopping-terms {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  float: left;
  margin-bottom: 10px;
}

.m-recommend .shopping-terms:nth-child(odd) {
  padding-right: 5px;
}

.m-recommend .shopping-terms:nth-child(even) {
  padding-left: 5px;
}

.m-recommend .shopping-terms .similar-product {
  width: 100%;
  background: #fff;
}

.m-recommend .shopping-terms .similar-product-img {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.m-recommend .shopping-terms .similar-product-name {
  height: 30px;
  padding: 0 10px;
  margin-top: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  line-height: 15px;
  color: #333;
  font-size: 10px;
}

.m-recommend .shopping-terms .similar-product-price {
  height: 30px;
  padding: 0 10px;
  margin-top: 8px;
  line-height: 30px;
}

.m-recommend .shopping-terms .similar-product-price .original-price {
  font-size: 15px;
  color: #ff494b;
}

.m-recommend .shopping-terms .similar-product-price .iconfont {
  color: #666666;
}

.m-edit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 50px;
  overflow: hidden;
  position: fixed;
  background: #fff;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.m-edit .checkbox {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  border-top: 1px solid #dcdcdc;
}

.m-edit .checkbox .select {
  margin-left: 5px;
  font-size: 12px;
  color: #666;
}

.m-edit .settlement {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 120px;
  height: 50px;
  background: #4e4598;
  line-height: 50px;
  text-align: center;
  font-size: 15px;
  color: #fff;
}

.m-edit .edit-info {
  height: 35px;
  padding: 7px 0;
  margin-right: 10px;
}

.m-edit .edit-info .total {
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  color: #666;
}

.m-edit .edit-info .total > span {
  font-size: 12px;
  color: #ff494b;
}

.m-edit .edit-info .total > em {
  margin: 0 2px;
  font-size: 10px;
  color: #ff494b;
  font-style: normal;
}

.m-edit .edit-info .duty-free {
  height: 15px;
  line-height: 15px;
  color: #666;
  font-size: 9px;
}
