html, body {
  width: 100%;
  height: 100%;
}

.tab-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 44px;
  padding-bottom: 50px;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
}

.tab-nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 23%;
  height: 100%;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid #ececec;
}

.tab-nav li {
  height: 50px;
  border-left: 2px solid #fff;
  border-bottom: 1px solid #ececec;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  font-size: 13px;
  color: #000;
}

.tab-nav .active {
  border-left: 2px solid #4f4697;
  color: #4f4697;
}

.tab-menu {
  width: 77%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.tab-menu .title {
  height: 45px;
  line-height: 45px;
  font-size: 13px;
  text-indent: 1em;
  color: #000;
}

.tab-menu .tab-list li {
  width: 33.33%;
  float: left;
  margin: 5px 0;
}

.tab-menu .tab-img {
  width: 76%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding-top: 76%;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.tab-menu .tab-img > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.tab-menu .tab-desc {
  height: 23px;
  padding: 4px 0;
  font-size: 11px;
  line-height: 23px;
  color: #5D5D5D;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
